<!-- Partie fixe pour les réseaux sociaux -->
<div class="footer-fixed">
	<div class="social-links">
		<a target="_blank" href="https://www.twitch.tv/sorralli"><img width="24" src="{{ asset('logo/twitch.png') }}" alt="Twitch"></a>
		<a target="_blank" href="https://www.youtube.com/@sorralli"><img width="24" src="{{ asset('logo/youtube.png') }}" alt="YouTube"></a>
		<a target="_blank" href="https://www.instagram.com/sorrallii"><img width="24" src="{{ asset('logo/instagram.png') }}" alt="Instagram"></a>
		<a target="_blank" href="https://www.tiktok.com/@sorralli"><img width="24" src="{{ asset('logo/tik-tok.png') }}" alt="TikTok"></a>
		<a target="_blank" href="https://discord.gg/8PDyetArNe"><img width="24" src="{{ asset('logo/discord.png') }}" alt="Discord"></a>
	</div>
</div>

<!-- Partie classique pour les informations légales -->
<div class="footer-classic">
	<p>
		<a href="{{path('app_legal_notices')}}">Mentions légales</a>
		|
		<a href="{{path('app_confidentiality')}}">Politique de confidentialité</a>
		|
		<a href="{{path('app_cgu')}}">Conditions générales d'utilisation</a>
		| 
		<a href="{{path('app_contact')}}">Nous contacter</a>
	</p>
	<p>&copy; 2025 - J2S by Sorralli</p>
</div>
