<div class="footer-container">
	<div class="d-flex justify-content-center gap-4">
		<a class="py-2" target="blank" href="https://www.twitch.tv/sorralli"><img width="32" src="{{asset('logo/twitch.png')}}" alt=""></a>
		<a class="py-2" target="blank" href="https://www.youtube.com/@sorralli"><img width="32" src="{{asset('logo/youtube.png')}}" alt=""></a>
		<a class="py-2" target="blank" href="https://www.instagram.com/sorrallii"><img width="32" src="{{asset('logo/instagram.png')}}" alt=""></a>
		<a class="py-2" target="blank" href="https://www.tiktok.com/@sorralli"><img width="32" src="{{asset('logo/tik-tok.png')}}" alt=""></a>
		<a class="py-2" target="blank" href="https://discord.gg/8PDyetArNe"><img width="32" src="{{asset('logo/discord.png')}}" alt=""></a>
	</div>
</div>
