{% extends 'base.html.twig' %}

{% block title %}Stream du Jeu Mystère
{% endblock %}

{% block body %}
	<div class="container text-center py-5">

		{% if not mysteryGame %}
			<h1 class="admin-title mb-4">🔍 Trouve le Jeu Mystère avec Sorralli</h1>
			<div class="component p-4">
				<p class="mb-3">Aucun jeu mystère n'est actuellement disponible pour le stream.</p>
				<a href="{{ path('admin_game_index') }}" class="btn btn-primary">
					🎲 Proposer un nouveau jeu mystère
				</a>
			</div>
		{% elseif mysterySearchTerm is not defined %}
			<h1 class="admin-title mb-4">🔍 Trouve le Jeu Mystère avec Sorralli</h1>
			<div class="text-center my-5">
				<form class="d-flex justify-content-center mt-3" role="search" method="get" action="{{ path('admin_mystery_game_search') }}">
					<input class="form-control w-50" type="search" name="search" placeholder="Recherchez un jeu..." aria-label="Search">
					<button class="btn ms-2" type="submit">🔍 Rechercher</button>
				</form>
			</div>

			{# Premier pack d'indices #}
			<div
				class="row row-cols-1 row-cols-md-{{
					(mysteryGame.categoriesIndices and mysteryGame.categoriesIndices|length > 0 ? 1 : 0) +
					(streamMatch.subdomainsIndices and mysteryGame.subdomainsIndices|length >0 ? 1 : 0) +
					(mysteryGame.mechanicsIndices and mysteryGame.mechanicsIndices|length >0 ? 1 : 0)
				}} mb-5 align-items-center">
				{# Catégories #}
				{% if mysteryGame.categoriesIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['categories'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/category.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Thèmes</span>
									<div class="category-list" style="display: none;">
										{% for category in streamMatchFormated.categoriesIndices %}
											<input type="hidden" name="categories[]" value="{{ category }}">
											<div class="fs-5">{{ category }}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Domaines #}
				{% if mysteryGame.subdomainsIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['subdomains'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/subdomain.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Catégories</span>
									<div class="category-list" style="display: none;">
										{% for subdomain in streamMatchFormated.subdomainsIndices %}
											<input type="hidden" name="subdomains[]" value="{{ subdomain }}">
											<div class="fs-5">{{ subdomain }}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Genres #}
				{% if mysteryGame.mechanicsIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['mechanics'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/mechanic.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Mécanismes</span>
									<div class="category-list" style="display: none;">
										{% for mechanic in streamMatchFormated.mechanicsIndices %}
											<input type="hidden" name="mechanics[]" value="{{ mechanic }}">
											<div class="fs-5">{{ mechanic }}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

			{# Deuxième pack d'indices #}
			<div
				class="row row-cols-{{
					((mysteryGame.age and mysteryGame.age|length > 0 ? 1 : 0) +
					(mysteryGame.minPlayers and mysteryGame.minPlayers|length > 0 ? 1 : 0) +
					(mysteryGame.playingTime and mysteryGame.playingTime|length > 0 ? 1 : 0) +
					(mysteryGame.yearPublished and mysteryGame.yearPublished|length > 0 ? 1 : 0)) / 2
				}} row-cols-md-{{
					(mysteryGame.age and mysteryGame.age|length > 0 ? 1 : 0) +
					(mysteryGame.minPlayers and mysteryGame.minPlayers|length > 0 ? 1 : 0) +
				 	(mysteryGame.playingTime and mysteryGame.playingTime|length > 0 ? 1 : 0) +
				 	(mysteryGame.yearPublished and mysteryGame.yearPublished|length > 0 ? 1 : 0)
				 }} mb-5 align-items-center">
				{# Age #}
				{% if mysteryGame.age %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['age'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/age.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Age</span>
									<div class="category-list" style="display: none;">
										<input type="hidden" name="age" value="{{ streamMatch.age }}">
										<span class="fs-5">{{streamMatch.age}} ans</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Joueurs #}
				{% if mysteryGame.minPlayers %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['minPlayers'] is defined or newHints['maxPlayers'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/players.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Joueurs</span>
									<div class="category-list" style="display: none;">
										<input type="hidden" name="players" value="{{ streamMatch.minPlayers }}">
										<span class="fs-5">de {{streamMatch.minPlayers}} à {{streamMatch.maxPlayers}} j</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Durée #}
				{% if mysteryGame.playingTime %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['playingTime'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/playingTime.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Durée</span>
									<div class="category-list" style="display: none;">
										<input type="hidden" name="playingTime" value="{{ streamMatch.playingTime }}">
										<span class="fs-5">{{streamMatch.playingTime}} mn</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Sortie #}
				{% if mysteryGame.yearPublished %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['yearPublished'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/date.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Sortie</span>
									<div class="category-list" style="display: none;">
										<input type="hidden" name="yearPublished" value="{{ streamMatch.yearPublished }}">
										<span class="fs-5">{{streamMatch.yearPublished}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

			{# Troisième pack d'indices #}
			<div
				class="row row-cols-1 row-cols-md-{{
					((mysteryGame.designersIndices and mysteryGame.designersIndices|length > 0 ? 1 : 0) +
					(mysteryGame.artistsIndices and mysteryGame.artistsIndices|length > 0 ? 1 : 0) +
					(mysteryGame.graphicDesignersIndices and mysteryGame.graphicDesignersIndices|length > 0 ? 1 : 0) +
					(mysteryGame.developersIndices and mysteryGame.developersIndices|length > 0 ? 1 : 0)) / 2
				}} mb-5 align-items-center">
				{# Créateurs #}
				{% if mysteryGame.designersIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['designers'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/designer.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Créateurs</span>
									<div class="category-list" style="display: none;">
										{% for designer in streamMatchFormated.designersIndices %}
											<input type="hidden" name="designers[]" value="{{ designer }}">
											<div class="fs-5">{{designer}}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Illustrateurs #}
				{% if mysteryGame.artistsIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['artists'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/artist.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Illustrateurs</span>
									<div class="category-list" style="display: none;">
										{% for artist in streamMatchFormated.artistsIndices %}
											<input type="hidden" name="artists[]" value="{{ artist }}">
											<div class="fs-5">{{artist}}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Designers #}
				{% if mysteryGame.graphicDesignersIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['graphicDesigners'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/designer-graphique.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Designers</span>
									<div class="category-list" style="display: none;">
										{% for graphicDesigner in streamMatchFormated.graphicDesignersIndices %}
											<input type="hidden" name="graphicDesigners[]" value="{{ graphicDesigner }}">
											<div class="fs-5">{{graphicDesigner}}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Developers #}
				{% if mysteryGame.developersIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['developers'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/developer.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Développeurs</span>
									<div class="category-list" style="display: none;">
										{% for developer in streamMatchFormated.developersIndices %}
											<input type="hidden" name="developers[]" value="{{ developer }}">
											<div class="fs-5">{{developer}}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

			{# Quatrième pack d'indices #}
			<div
				class="row row-cols-1 row-cols-md-{{
					(mysteryGame.honorsIndices and mysteryGame.honorsIndices|length > 0 ? 1 : 0) +
					(mysteryGame.publishersIndices and mysteryGame.publishersIndices|length > 0 ? 1 : 0)
				}} mb-5 align-items-center">
				{# Récompense #}
				{% if mysteryGame.honorsIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['honors'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/honor.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Récompenses</span>
									<div class="category-list" style="display: none;">
										{% for honor in streamMatchFormated.honorsIndices %}
											<input type="hidden" name="honors[]" value="{{ honor }}">
											<div class="fs-5">{{honor}}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{# Editeurs #}
				{% if mysteryGame.publishersIndices %}
					<div class="my-1">
						<div class="category-container btn {% if newHints['publishers'] is defined %}admin-btn-highlight{% else %}admin-btn{% endif %}">
							<div class="d-flex align-items-center justify-content-center">
								<img class="me-2" width="24" height="24" src="{{asset('logo/publisher.png')}}" alt="">
								<div class="category-content">
									<span class="category-placeholder fs-4 fw-bold">Editeurs</span>
									<div class="category-list" style="display: none;">
										{% for publisher in streamMatchFormated.publishersIndices %}
											<input type="hidden" name="publishers[]" value="{{ publisher }}">
											<div class="fs-5">{{publisher}}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div>
				<div class="title">Liste des jeux recherchés</div>
				{% for history in searchHistory %}
					<div class="component my-2">
						<div class="fw-bold fs-5">{{history.name}}</div>
						{% for hint in history.hintMatch %}
							<div class="btn m-1">{{hint}}</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>

		{% endif %}
	</div>
{% endblock %}
